@page "/fetchdata"
@using Raketti.Shared
@inject HttpClient Http
@inject Raketti.Client.Services.IUserService UserService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (users == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Display name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in users)
			{
				<tr>
					<td>@user.UserId</td>
					<td>@user.FirstName</td>
					<td>@user.LastName</td>
					<td>@user.DisplayName</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	IEnumerable<User> users;

	protected override async Task OnInitializedAsync()
	{
		users = await UserService.GetUsers();
	}

}
