@page "/"
@attribute [Authorize]
@inject IToastService ToastService

<h1 @onclick="test">Hello, world!</h1>

<AuthorizeView>
	<Authorized>
		<p>you are authed</p>
	</Authorized>
	<NotAuthorized>
		<p>you are not authed</p>
	</NotAuthorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
	public void test()
	{
		ToastService.ShowSuccess("angel sucks", ":)");

	}
}